{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
        <h1>Edit Profile</h1>
    <div id="formContainer">
        <div class="form-group col-md-4 center" id="formCard">
            {{ form_start(formProfile) }}
            {{ form_row(formProfile.email) }}
            {{ form_row(formProfile.plainPassword, {'attr':{'required': false}})}}
        {#    {{ form_row(registrationForm.agreeTerms) }} #}
            
            <button type="submit" class="btn btn-dark">
                Edit Profile
                      </button> 
            {{ form_end(formProfile) }}
        </div>
    </div>    
{% endblock %}